---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type subItem = {
  subtitle:string,
  descripcion:string[]
}
type Item = {
    title:string,
    hash:string,
    opciones:string[],
    detalle:subItem[]
}
const obj:any = t('carreara.vacante.items')
const items: Item[] = JSON.parse(JSON.stringify(obj));
const opcionesItems:Item[] = items;
---

<Layout title="Carreras">

    <section id="home" class="bg-[#4075b1]">
      <a href="/web/carrera#vacantes">
        <div class="relative h-screen w-full">
            <img src="/img6.webp" alt="Background Image" class="object-cover object-center w-full h-full items-center" />
            <img src="" alt="Background Image" class="absolute inset-0 w-full h-full object-cover filter blur-sm">
            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
            <div class="absolute top-20 inset-0 flex flex-col items-center">
                <p class=" text-white mt-4 text-3xl font-bold text-center  animate-fade-up animate-once animate-ease-in-out">
                  <Fragment set:html={t('carrera.title')} />
                </p>
            </div>
        </div>
      </a>
    </section>

    <section id="vacantes">
        <div class="bg-gray-100 p-4 sm:p-8 md:p-16">

            <div class="container mx-auto max-w-3xl py-16 ">
                <div class="flex flex-col items-start justify-start text-center gap-2">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-[#000066] sm:text-4xl">{t('carrera.vacante.title')}</h2>
                    <p class="text-base text-gray-600">
                      {t('carrera.vacante.subtitle')}
                    </p>
                </div>

              <div class="grid grid-cols-1 gap-4 pt-10">
                {opcionesItems.map(({title, hash, opciones}) => (
                  <a href={`/carrera#${hash}`}
                    class="relative flex h-full flex-col rounded-md border border-gray-200 bg-white p-2.5 hover:border-gray-300 sm:rounded-lg sm:p-5
                    shadow shadow-gray">
                    <span class="text-md mb-0 font-semibold text-gray-900 hover:text-black sm:mb-1.5 sm:text-xl ">
                      {title}
                    </span>

                    <div class="grid grid-cols-3 gap-4 justify-items-stretch">
                        <span class="text-sm leading-normal text-gray-400 sm:block">
                          {opciones[0]}
                        </span>
                        <span class="text-sm leading-normal text-gray-400 sm:block justify-self-start">
                          {opciones[1]}
                        </span>
                        <span class="text-sm justify-self-end leading-normal text-gray-400 sm:block">
                          {opciones[2]}
                        </span>
                    </div>
                  </a>
                ))}
              </div>
            </div>
          </div>
    </section>

    {opcionesItems.map(({title, hash, opciones, detalle}) => (
    <section id={hash}>
        <div class="overflow-hidden bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-3xl px-6 lg:px-8">
              <div class="flex flex-col gap-1">
                  <p class="mt-2 text-3xl font-bold tracking-tight text-[#000066] sm:text-4xl">{title}</p>
                  <h2 class="text-base font-semibold leading-7 text-[#2E75B6] text-xl">{opciones[0]}</h2>
                  <h2 class="text-base font-semibold leading-7 text-[#2E75B6] text-xl">{opciones[1]}</h2>
              </div>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                {detalle.map(({subtitle, descripcion}) => (
                <div class="relative">
                    <dd class="inline">
                        <h2 class="text-base font-semibold leading-7 text-gray-600 text-xl">{subtitle}</h2>
                        {descripcion.map((puntos) => (
                          <p>
                            {puntos}
                          </p>
                        ))}
                    </dd>
                </div>
                ))}
              </dl>
            </div>
        </div>
        
    </section>
    ))}
</Layout>